.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    a {
      display: inline-block;
      text-transform: uppercase;
      padding: 0.5rem 0.75rem;
      font-weight: 700;
      border-radius: 0.5rem 0.5rem 0 0;
      text-decoration: none;
      color: var(--color-gray-400);
      font-size: 1.125rem;
      line-height: 2.65rem;

      &.current,
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-mlfs-hlYellow);
      }
    }
  }
}

.page {
  border: 1px solid var(--color-primary);
  border-radius: 0 0 0.5rem 0.5rem;
}
