# Tag used for images (optional, default main)
# Only used in docker compose interpolation, not in the app iteself
DOCKER_TAG=main

# Backend host name
BACKEND_HOST=localhost

# Frontend host name
FRONTEND_HOST=localhost:3000

# DB access
POSTGRES_HOST=postgres
POSTGRES_DB=multilateralfund
POSTGRES_USER=multilateralfund
POSTGRES_PASSWORD=multilateralfund


# Django debug (optional, default False)
# DO NOT SET THIS TO TRUE IN PRODUCTION!
DJANGO_DEBUG=True