-r requirements.txt

black[d]
coverage
django-debug-toolbar
flake8-django
ipdb
ipython
ipython-autotime
mypy-extensions
pdfminer.six
pylint-django==2.6.1
pylint-secure-coding-standard==1.5.1
pytest
pytest-cov
pytest-django
pytest-subtests
