.MuiInputBase-root,
textarea {
  @apply bg-action-highlight;
}

.BPList .MuiInputBase-root,
.BPList .MuiAutocomplete-inputRoot,
.BPListUpload .MuiInputBase-root,
.BPListUpload .MuiAutocomplete-inputRoot {
  @apply min-h-10 rounded-lg bg-white;
}

.BPListUpload .MuiAutocomplete-clearIndicator,
.BPListUpload .MuiAutocomplete-clearIndicator:hover {
  @apply bg-white;
}

.BPListUpload .MuiAutocomplete-clearIndicator svg {
  height: 15px;
  width: 15px;
}

.BPListUpload .MuiAutocomplete-clearIndicator svg:hover {
  @apply text-secondary;
}

.BPList .MuiInputBase-root fieldset,
.BPList .MuiAutocomplete-inputRoot fieldset {
  @apply border-2 border-primary;
}

.BPList .MuiInputBase-root input::placeholder,
.BPList .MuiAutocomplete-inputRoot input::placeholder {
  @apply text-lg font-normal text-mlfs-deepTealShade opacity-100;
}

.MuiInputBase-root:has(input:-webkit-autofill),
.MuiInputBase-root input:-webkit-autofill {
  box-shadow: 0 0 0 100px #e7f0fe inset;
  -webkit-text-fill-color: theme(colors.typography);
  caret-color: theme(colors.typography);
}

:root[data-theme='dark'] .MuiInputBase-root:has(input:-webkit-autofill),
:root[data-theme='dark'] .MuiInputBase-root input:-webkit-autofill {
  box-shadow: 0 0 0 100px theme(colors.primary) inset;
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
}

.login-form {
  .MuiInputBase-root {
    fieldset {
      border: 0;
    }

    &:has(input:-webkit-autofill),
    input:-webkit-autofill {
      box-shadow: 0 0 0px 1000px white inset;
      -webkit-text-fill-color: black;
      caret-color: black;
    }
  }
}
