.MuiTabs-root.scrollable {
  @apply w-full;
}

.MuiTabs-flexContainer {
  @apply gap-4;
}

.MuiTabs-root.scrollable .MuiTabs-scroller .MuiTabs-flexContainer {
  @apply w-0;
}

.MuiButtonBase-root.MuiTab-root {
  @apply min-w-fit px-0 text-xl;
}

.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-error:not(.Mui-selected) {
  @apply text-error;
}

.MuiTab-root {
  @apply mt-0 py-0 font-bold;
}

.MuiTab-root.Mui-selected {
  @apply text-primary;
}

.MuiTab-textColorPrimary {
  @apply text-gray-400;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-error::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border-bottom: 2px solid theme(colors.error);
}
