{% load settings_value %}

{% block content %}
<p>Dear National Ozone Officers,</p>
<p>
  We are excited to announce the launch of the new online Country Programme Data Reporting system, which will streamline
  and enhance the CP data reporting process. The system will officially go live on January 1st, 2025 at <a
    href="{% frontend_host %}/country-programme/reports">{% frontend_host %}/country-programme/reports</a>.
</p>
<p>
  There are two types of credentials for accessing the system: <b>inputter</b> and <b>submitter</b>.
  <br>
  Your credentials are as follows:
</p>
<p>The inputter role allows users to enter and modify data.</p>
<p>
  • Inputter:
  <br>
  <b>Username:</b> {{ username_inputter }}
  <br>
  <b>Password:</b> {{ password_inputter }}
</p>
<p>
  Please go to the following page and choose a new password:
  <br>
  <a href="{% frontend_host %}/reset-password/?uid={{ uid_inputter }}&token={{ token_inputter }}" target="_blank">
    Reset password inputter
  </a>
</p>
<p>The submitter is the user who can input but also submit the data to the Secretariat.</p>
<p>
  • Submitter:
  <br>
  <b>Username:</b> {{ username_submitter }}
  <br>
  <b>Password:</b> {{ password_submitter }}
</p>
<p>
  Please go to the following page and choose a new password:
  <br>
  <a href="{% frontend_host %}/reset-password/?uid={{ uid_submitter }}&token={{ token_submitter }}" target="_blank">
    Reset password submitter
  </a>
</p>
<p>
  Please find a short user guide to facilitate your data input here: <a
    href="{% frontend_host %}/country-programme/guide">{% frontend_host %}/country-programme/guide</a>.
</p>
<p>
  In case of any technical issues or questions please contact Laura Duong <a
    href="mailto:laura.duong@un.org">laura.duong@un.org</a>, Rony Aounand <a href="mailto:aounr@un.org">aounr@un.org</a>
  and Misha Alberizzi <a href="mailto:misha.alberizzi@un.org">misha.alberizzi@un.org</a>.
</p>
<p>We look forward to introducing the system.</p>
<p>Best regards,</p>
<p>Multilateral Fund Secretariat</p>
{% endblock %}