@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './preflight';

/* @import './typography'; */
@import './views.css';
@import './components/image';
@import './components/widget';
@import './components/pagination';

/* Material ui components */
@import './components/mui/_index.css';

/* AG grid */
@import 'ag-grid-community/styles/ag-grid.css' layer(mui);
@import 'ag-grid-community/styles/ag-theme-alpine.css' layer(mui);
@import './components/ag-grid/_index.css';
@import './print.css';
@import './fonts.css';

@layer base {
  :root {
    @apply h-full;

    font-family: "Roboto Condensed";

    --tw-primary: 198 100% 12%;
    --color-primary: hsl(var(--tw-primary));
    --tw-secondary: 198 100% 42%;
    --color-secondary: hsl(var(--tw-secondary));
    --tw-gray-50: 210 20% 98%;
    --color-gray-50: hsl(var(--tw-gray-50));
    --tw-gray-100: 220 14% 96%;
    --color-gray-100: hsl(var(--tw-gray-100));
    --tw-gray-200: 220 13% 91%;
    --color-gray-200: hsl(var(--tw-gray-200));
    --tw-gray-300: 216 12% 84%;
    --color-gray-300: hsl(var(--tw-gray-300));
    --tw-gray-400: 218 11% 65%;
    --color-gray-400: hsl(var(--tw-gray-400));
    --tw-gray-500: 220 9% 46%;
    --color-gray-500: hsl(var(--tw-gray-500));
    --tw-gray-600: 215 14% 34%;
    --color-gray-600: hsl(var(--tw-gray-600));
    --tw-gray-700: 217 19% 27%;
    --color-gray-700: hsl(var(--tw-gray-700));
    --tw-gray-800: 215 28% 17%;
    --color-gray-800: hsl(var(--tw-gray-800));
    --tw-gray-900: 221 39% 11%;
    --color-gray-900: hsl(var(--tw-gray-900));
    --tw-gray-950: 224 71% 4%;
    --color-gray-950: hsl(var(--tw-gray-950));
    --tw-success: 109 70% 38%;
    --color-success: hsl(var(--tw-success));
    --tw-warning: 32 100% 50%;
    --color-warning: hsl(var(--tw-warning));
    --tw-error: 0 84% 58%;
    --color-error: hsl(var(--tw-error));
    --tw-info: 198 100% 30%;
    --color-info: hsl(var(--tw-info));
    --tw-mlfs-hlYellow: 64.7 100% 50%;
    --color-mlfs-hlYellow: hsl(var(--tw-mlfs-hlYellow));
    --tw-mlfs-hlYellowTint: 65 100% 75%;
    --color-mlfs-hlYellowTint: hsl(var(--tw-mlfs-hlYellowTint));
    --tw-mlfs-deepTealShade: 199 100% 8%;
    --color-mlfs-deepTealShade: hsl(var(--tw-mlfs-deepTealShade));
    --tw-mlfs-bannerColor: 200 72.4% 94.3%;
    --color-mlfs-bannerColor: hsl(var(--tw-mlfs-bannerColor));
    --tw-mlfs-purple: 266 93.2% 71.4%;
    --color-mlfs-purple: hsl(var(--tw-mlfs-purple));
  }

  :root[data-connection='slow'] .fade-in-out {
    opacity: 1 !important;
  }

  :root[data-ssr='yes'] .portal {
    display: none !important;
  }

  :root[data-theme='dark'] {
    @apply theme-dark;
  }

  :root[data-theme='light'] {
    @apply theme-light;
  }

  body {
    @apply h-full transition;
  }

  main {
    @apply relative;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.7;
  }
}

/* TOC */

nav.toc {
  @apply p-8;
}

.hash-link {
  @apply no-underline;
}

.hash-link::before {
  content: '#';

  @apply collapse mr-1 text-gray-300;
}

.hash-link:hover::before {
  @apply visible;
}

.placeholder-select:invalid {
  @apply text-gray-500;
}

.placeholder-select:valid {
  @apply text-primary;
}
