@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './preflight';

/* @import './typography'; */
@import './views.css';
@import './components/image';
@import './components/widget';

/* Material ui components */
@import './components/mui/_index.css';

/* AG grid */
@import './components/ag-grid/_index.css';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import './print.css';

@layer base {
  :root {
    @apply h-full;
  }

  :root[data-connection='slow'] .fade-in-out {
    opacity: 1 !important;
  }

  :root[data-ssr='yes'] .portal {
    display: none !important;
  }

  :root[data-theme='dark'] {
    @apply theme-dark;
  }

  :root[data-theme='light'] {
    @apply theme-light;
  }

  body {
    @apply h-full transition;
  }

  main {
    @apply relative;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.7;
  }
}
