@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './preflight';

/* @import './typography'; */
@import './views.css';
@import './components/image';
@import './components/widget';
@import './components/pagination';

/* Material ui components */
@import './components/mui/_index.css';

/* AG grid */
@import 'ag-grid-community/styles/ag-grid.css' layer(mui);
@import 'ag-grid-community/styles/ag-theme-alpine.css' layer(mui);
@import './components/ag-grid/_index.css';
@import './print.css';

@layer base {
  :root {
    @apply h-full;

    --tw-primary: 198 100% 12%;
    --color-primary: hsl(var(--tw-primary));
    --tw-mlfs-hlYellow: 64.7 100% 50%;
    --color-mlfs-hlYellow: hsl(var(--tw-mlfs-hlYellow));
    --tw-mlfs-hlYellowTint: 65 100% 75%;
    --color-mlfs-hlYellowTint: hsl(var(--tw-mlfs-hlYellowTint));
    --tw-mlfs-deepTealShade: 199 100% 8%;
    --color-mlfs-deepTealShade: hsl(var(--tw-mlfs-deepTealShade));
    --tw-mlfs-bannerColor: 200 72.4% 94.3%;
    --color-mlfs-bannerColor: hsl(var(--tw-mlfs-bannerColor));
    --tw-mlfs-purple: 266 93.2% 71.4%;
    --color-mlfs-purple: hsl(var(--tw-mlfs-purple));
  }

  :root[data-connection='slow'] .fade-in-out {
    opacity: 1 !important;
  }

  :root[data-ssr='yes'] .portal {
    display: none !important;
  }

  :root[data-theme='dark'] {
    @apply theme-dark;
  }

  :root[data-theme='light'] {
    @apply theme-light;
  }

  body {
    @apply h-full transition;
  }

  main {
    @apply relative;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.7;
  }
}

/* TOC */

nav.toc {
  @apply p-8;
}

.hash-link {
  @apply no-underline;
}

.hash-link::before {
  content: '#';

  @apply collapse mr-1 text-gray-300;
}

.hash-link:hover::before {
  @apply visible;
}
