/* h1:not(.MuiTypography-root),
h2:not(.MuiTypography-root),
h3:not(.MuiTypography-root),
h4:not(.MuiTypography-root),
h5:not(.MuiTypography-root),
h6:not(.MuiTypography-root),
p:not(.MuiTypography-root) {
  margin: 0;
}

h1:not(.MuiTypography-root):not(:last-child),
h2:not(.MuiTypography-root):not(:last-child),
h3:not(.MuiTypography-root):not(:last-child),
h4:not(.MuiTypography-root):not(:last-child),
h5:not(.MuiTypography-root):not(:last-child),
h6:not(.MuiTypography-root):not(:last-child),
p:not(.MuiTypography-root):not(:last-child) {
  margin: 0 0 1rem 0;
}

h1:not(.MuiTypography-root) {
  @apply text-6xl;
}

h2:not(.MuiTypography-root) {
  @apply text-5xl;
}

h3:not(.MuiTypography-root) {
  @apply text-4xl;
}

h4:not(.MuiTypography-root) {
  @apply text-3xl;
}

h5:not(.MuiTypography-root) {
  @apply text-2xl;
}

h6:not(.MuiTypography-root) {
  @apply text-xl;
} */
