@layer base {
  #header-navigation {
    box-shadow: 0 15px 25px 0 hsl(0deg 0% 0% / 25%);
  }

  .mobile-header-navigation-button {
    box-shadow: 0 10px 20px 0 hsl(0deg 0% 0% / 14.9%);
  }

  :root[data-layout='authorized_document'] #layout {
    @apply h-full;
  }

  :root[data-layout='document'] #layout {
    @apply grid h-full grid-rows-[auto_1fr_auto];
  }

  :root[data-layout='simple'] #layout {
    @apply grid h-full grid-rows-[auto];
  }

  :root[data-layout='authorized_document'] main {
    @apply grid;
  }

  .shadow-mlfs {
    box-shadow: 0 4px 12px 0 hsl(0deg 0% 0% / 15%);
  }
}
