#next-app .ag-row-animation .ag-row {
  transition:
    transform 400ms,
    top 400ms,
    background-color 300ms,
    border-color 300ms,
    opacity 200ms;
}

#next-app [class*='ag-theme-'] .ag-row {
  --ag-row-border-top-width: var(--ag-row-border-width);
  --ag-row-border-bottom-width: var(--ag-row-border-width);

  border-top: var(--ag-row-border-style) var(--ag-row-border-color)
    var(--ag-row-border-top-width);
  border-bottom: none;
}

#next-app [class*='ag-theme-'] .ag-row:first-child {
  --ag-row-border-top-width: calc(var(--ag-row-border-width) - 1px);
}

#next-app [class*='ag-theme-'] .ag-row:last-child {
  border-bottom: var(--ag-row-border-style) var(--ag-row-border-color)
    var(--ag-row-border-top-width);
  border-top: var(--ag-row-border-style) var(--ag-row-border-color)
    var(--ag-row-border-bottom-width);
}

#next-app [class*='ag-theme-'] .ag-row.ag-row-group {
  --ag-row-border-width: 2px;
}

/* #next-app [class*='ag-theme-']:not(.with-pagination) .ag-row-last {
  @apply border-b-0;
} */

#next-app [class*='ag-theme-'] .ag-row-hover:not(.ag-full-width-row)::before,
.ag-row-hover.ag-full-width-row.ag-row-group::before {
  @apply z-10;
}

#next-app [class*='ag-theme-'] .ag-row-group {
  @apply pattern-diagonal-lines pattern-slate-500 pattern-bg-white 
  pattern-size-2 pattern-opacity-100;
}

#next-app [class*='ag-theme-'] .ag-row-total {
  @apply bg-gray-100 theme-dark:bg-gray-900/40;
}
