@import './variables.css';
@import './header.css';
@import './row.css';
@import './cell.css';

#next-app [class*='ag-theme-'] .ag-body-horizontal-scroll {
  @apply !relative;
}

#next-app [class*='ag-theme-'] .ag-root-wrapper {
  @apply rounded;

  border: var(--ag-borders) theme(colors.mui-box-border);
}

#next-app [class*='ag-theme-'] .ag-header,
#next-app [class*='ag-theme-'] .ag-advanced-filter-header,
#next-app [class*='ag-theme-'] .ag-root-wrapper,
#next-app [class*='ag-theme-'] .ag-sticky-top,
#next-app [class*='ag-theme-'] .ag-dnd-ghost,
#next-app [class*='ag-theme-'] .ag-row-animation .ag-row {
  @apply transition;
}

#next-app [class*='ag-theme-'] .ag-text-left {
  @apply justify-start;
}

#next-app [class*='ag-theme-'] .ag-text-center {
  @apply justify-center;
}

#next-app [class*='ag-theme-'] .ag-text-right {
  @apply justify-end;
}

#next-app
  [class*='ag-theme-'].two-groups
  .ag-overlay-no-rows-wrapper.ag-layout-auto-height {
  padding-top: 120px;
}

#next-app
  [class*='ag-theme-'].three-groups
  .ag-overlay-no-rows-wrapper.ag-layout-auto-height {
  padding-top: 180px;
}

#next-app
  [class*='ag-theme-'].four-groups
  .ag-overlay-no-rows-wrapper.ag-layout-auto-height {
  padding-top: 240px;
}

#next-app
  [class*='ag-theme-']
  .ag-root-wrapper
  .ag-root-wrapper-body
  .ag-root
  .ag-body-horizontal-scroll {
  order: 1;
}

#next-app
  [class*='ag-theme-']
  .ag-root-wrapper
  .ag-root-wrapper-body
  .ag-root
  .ag-header {
  order: 2;
}

#next-app
  [class*='ag-theme-']
  .ag-root-wrapper
  .ag-root-wrapper-body
  .ag-root
  .ag-floating-top {
  order: 3;
}

#next-app
  [class*='ag-theme-']
  .ag-root-wrapper
  .ag-root-wrapper-body
  .ag-root
  .ag-body-body {
  order: 4;
}

#next-app
  [class*='ag-theme-']
  .ag-root-wrapper
  .ag-root-wrapper-body
  .ag-root
  .ag-sticky-top {
  order: 5;
}

#next-app
  [class*='ag-theme-']
  .ag-root-wrapper
  .ag-root-wrapper-body
  .ag-root
  .ag-body {
  order: 6;
}

#next-app
  [class*='ag-theme-']
  .ag-root-wrapper
  .ag-root-wrapper-body
  .ag-root
  .ag-floating-bottom {
  order: 7;
}

#next-app .ag-full-screen {
  @apply z-50;

  position: fixed;
  width: 100vw;
  height: 100vh !important;
  top: 0;
  left: 0;
  background-color: theme(colors.mui-box-background);
}

#next-app .ag-full-screen [class*='ag-theme-'] {
  @apply m-0 !h-full;
}
