/* eslint-disable */
@import './variables.css';
@import './header.css';
@import './row.css';
@import './cell.css';

#next-app [class*='ag-theme-'] .ag-root-wrapper {
  @apply rounded;

  border: var(--ag-borders) theme(colors.mui-box-border);
}

#next-app [class*='ag-theme-'] .ag-header,
#next-app [class*='ag-theme-'] .ag-advanced-filter-header,
#next-app [class*='ag-theme-'] .ag-root-wrapper,
#next-app [class*='ag-theme-'] .ag-sticky-top,
#next-app [class*='ag-theme-'] .ag-dnd-ghost,
#next-app [class*='ag-theme-'] .ag-row-animation .ag-row {
  @apply transition;
}

#next-app [class*='ag-theme-'] .ag-text-left {
  @apply justify-start;
}

#next-app [class*='ag-theme-'] .ag-text-center {
  @apply justify-center;
}

#next-app [class*='ag-theme-'] .ag-text-right {
  @apply justify-end;
}

#next-app
  [class*='ag-theme-'].two-groups
  .ag-overlay-no-rows-wrapper.ag-layout-auto-height {
  padding-top: 120px;
}

#next-app
  [class*='ag-theme-'].three-groups
  .ag-overlay-no-rows-wrapper.ag-layout-auto-height {
  padding-top: 180px;
}

#next-app
  [class*='ag-theme-'].four-groups
  .ag-overlay-no-rows-wrapper.ag-layout-auto-height {
  padding-top: 240px;
}

#next-app .ag-body-horizontal-scroll {
  @apply !relative !bottom-0;
}

#next-app .ag-full-screen,
#next-app .ag-hide-print {
  @apply z-50;

  position: fixed;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  left: 0;
  background-color: theme(colors.mui-box-background);
}

#next-app .ag-full-screen [class*='ag-theme-'],
#next-app .ag-full-screen .ag-table {
  @apply m-0 !h-full;
}
