#next-app [class*='ag-theme-'] {
  .ag-cell-wrapper {
    /* height: 100%; */
  }

  .ag-cell {
    border: none;

    /* line-height: 2; */
  }

  .ag-ltr .ag-cell:not(:last-child),
  .ag-cell.ag-cell-last-left-pinned:not(
      .ag-cell-range-right,
      .ag-cell-range-single-cell
    ) {
    border-right: var(--ag-row-border-width) var(--ag-row-border-style)
      var(--ag-row-border-color);
  }

  .ag-rtl .ag-cell:not(:last-child) {
    border-left: var(--ag-row-border-width) var(--ag-row-border-style)
      var(--ag-row-border-color);
  }

  .ag-cell.ag-flex-cell .ag-cell-wrapper {
    @apply flex h-full items-center;
  }

  .ag-row-group .ag-cell-focus:focus-within::after,
  .ag-row-control .ag-cell-focus:focus-within::after,
  .ag-row-hashed .ag-cell-focus:focus-within::after,
  .ag-row-sub-total .ag-cell-focus:focus-within::after,
  .ag-row-total .ag-cell-focus:focus-within::after {
    display: none;
  }

  .ag-cell-focus:not(
      .ag-cell-range-selected,
      .ag-no-focus
    ):focus-within::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 2px var(--ag-row-border-style)
      var(--ag-range-selection-border-color);
  }

  .ag-cell.ag-error {
    padding-right: 38px;
  }

  .ag-cell.ag-error::after {
    transition-property: width, height, top, left;
    transition-duration: 300ms;
    content: '';
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    top: 2px;
    left: 2px;
    pointer-events: none;
    border: 2px var(--ag-row-border-style) theme(colors.error);
  }

  .ag-cell.ag-error:focus-within::after {
    transition-property: width, height, top, left;
    transition-duration: 300ms;
    border: 2px var(--ag-row-border-style) theme(colors.error);
  }

  .ag-cell .ag-error-info {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
  }

  .ag-cell.ag-text-left .ag-cell-value {
    @apply text-left;
  }

  .ag-cell.ag-text-center .ag-cell-value {
    @apply text-center;
  }

  .ag-cell.ag-text-right .ag-cell-value {
    @apply text-right;
  }
}
