/* #next-app .ag-cell > .ag-cell-wrapper {
  @apply w-full;
}

#next-app [class*='ag-theme-'].with-separators .ag-ltr .ag-cell:last-child {
  border-right-width: 0;
}

#next-app [class*='ag-theme-'].with-separators .ag-rtl .ag-cell:last-child {
  border-left-width: 0;
}

#next-app .ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
#next-app
  .ag-ltr
  .ag-context-menu-open
  .ag-cell-focus:not(.ag-cell-range-selected),
#next-app
  .ag-ltr
  .ag-full-width-row.ag-row-focus:focus
  .ag-cell-wrapper.ag-row-group,
#next-app .ag-ltr .ag-cell-range-single-cell,
#next-app .ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle {
  @apply !border-r;
}

#next-app .ag-rtl .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
#next-app
  .ag-rtl
  .ag-context-menu-open
  .ag-cell-focus:not(.ag-cell-range-selected),
#next-app
  .ag-rtl
  .ag-full-width-row.ag-row-focus:focus
  .ag-cell-wrapper.ag-row-group,
#next-app .ag-rtl .ag-cell-range-single-cell,
#next-app .ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle {
  @apply !border-l;
} */

#next-app [class*='ag-theme-'] .ag-cell.disabled {
  background-color: var(--ag-cell-disabled-background);
  color: var(--ag-cell-disabled-color);
}

#next-app [class*='ag-theme-'] .ag-cell-data-changed {
  background-color: var(
    --ag-value-change-value-highlight-background-color
  ) !important;
  color: var(--ag-value-change-value-highlight-color) !important;
}

#next-app [class*='ag-theme-'] .ag-full-width-container .ag-row {
  padding: calc(var(--ag-cell-horizontal-padding) - 1px);
  display: flex;
  align-items: center;
}
