#next-app .ag-header {
  transition:
    background-color 300ms,
    border-color 300ms;
}

#next-app .ag-ltr .ag-header-cell:not(:last-child),
#next-app .ag-ltr .ag-header-group-cell:not(:last-child) {
  border-right: var(--ag-cell-horizontal-border);
}

#next-app .ag-rtl .ag-header-cell:not(:last-child),
#next-app .ag-rtl .ag-header-group-cell:not(:last-child) {
  border-left: var(--ag-cell-horizontal-border);
}

#next-app
  .ag-header-row:not(:first-child)
  .ag-header-group-cell.ag-header-group-cell-no-group {
  border-top: var(--ag-borders-critical) var(--ag-border-color);
}

#next-app .ag-header-cell.text-center .ag-header-cell-label,
#next-app .ag-header-group-cell.text-center,
#next-app .ag-header-cell.text-center .ag-header-cell-comp-wrapper {
  justify-content: center;
}
