/* stylelint-disable no-descending-specificity */
.ag-table {
  .ag-header-group-cell {
    justify-content: center;
  }

  /* .ag-header-group-cell .ag-header-cell-resize::after {
    display: none;
  } */

  /* .ag-header-cell span,
  .ag-header-group-cell span {
    font-weight: bold;
  } */

  @media (width <= 1680px) {
    .ag-header-cell,
    .ag-header-group-cell {
      span {
        @apply text-xs;
      }
    }
  }

  @media (width >= 1680px) {
    .ag-header-cell,
    .ag-header-group-cell {
      span {
        @apply text-sm;
      }
    }
  }

  .ag-header-cell {
    padding-left: calc(var(--x-ag-header-cell-horizontal-padding) - 1px);
    padding-right: calc(var(--x-ag-header-cell-horizontal-padding) - 1px);
  }

  .ag-header-cell.ag-text-left .ag-header-cell-label,
  .ag-header-group-cell.ag-text-left,
  .ag-header-cell.ag-text-left .ag-header-cell-comp-wrapper {
    text-align: left;
  }

  .ag-header-cell.ag-text-center .ag-header-cell-label,
  .ag-header-group-cell.ag-text-center,
  .ag-header-cell.ag-text-center .ag-header-cell-comp-wrapper {
    text-align: center;
    justify-content: center;
  }

  .ag-header-cell.ag-text-right .ag-header-cell-label,
  .ag-header-group-cell.ag-text-right,
  .ag-header-cell.ag-text-right .ag-header-cell-comp-wrapper,
  .ag-header-cell.ag-text-right {
    text-align: right;

    @apply flex w-full justify-end text-right;
  }

  &.with-separators
    .ag-header-row:not(:first-child)
    .ag-header-cell:not(.ag-header-span-height.ag-header-span-total),
  &.with-separators .ag-header-row:not(:first-child) .ag-header-group-cell {
    border-top: var(--ag-borders-critical) var(--ag-border-color);
  }

  .ag-header-row:not(:first-child)
    .ag-header-cell:not(.ag-header-span-height.ag-header-span-total),
  .ag-header-row:not(:first-child)
    .ag-header-group-cell.ag-header-group-cell-with-group {
    @apply border-b border-gray-300;
  }

  .ag-header-group-cell-with-group {
    /* --ag-header-cell-hover-background-color: hsl(var(--twc-gray-200)); */

    /* @apply bg-gray-200; */
  }

  .ag-pinned-left-header {
    @apply border-none;
  }

  /* Headers on ~ same level */
  div.ag-header-row.ag-header-row-column
    > div.ag-header-span-total
    > div.ag-header-cell-comp-wrapper
    > span {
    margin-top: 2.9em;
  }

  .ag-header-cell-resize::after {
    top: 0;
    height: 100%;
  }

  .ag-ltr {
    .ag-header-cell,
    .ag-header-group-cell {
      /* border-right: var(--ag-cell-horizontal-border); */
      @apply border-r-transparent;
    }
  }

  &.simple-table {
    @media (width <= 1680px) {
      span {
        @apply text-xs;
      }

      th,
      td {
        @apply p-1;
      }
    }

    @media (width >= 1680px) {
      th,
      td {
        @apply p-2;
      }
    }

    thead {
      @apply relative;

      &::before {
        @apply absolute left-0 top-0 h-full w-full bg-gray-200 content-[''];

        z-index: -1;
      }

      &::after {
        @apply absolute bottom-0 left-0 w-full border-x-0 border-b-4 border-t-0 border-solid border-primary content-[''];
      }

      th {
        @apply border border-solid border-gray-200 bg-gray-100;

        position: relative;
      }

      tr:first-of-type {
        th {
          @apply border-t-0;
        }

        th:first-child {
          @apply border-l-0;
        }

        th:last-child {
          @apply border-r-0;
        }
      }
    }
  }
}
