/* stylelint-disable no-descending-specificity */
.ag-table {
  .ag-header-container {
    @apply bg-primary;
  }

  .ag-header-group-cell {
    justify-content: center;
  }

  /* .ag-header-group-cell .ag-header-cell-resize::after {
    display: none;
  } */

  /* .ag-header-cell span,
  .ag-header-group-cell span {
    font-weight: bold;
  } */

  @media (width <= 1680px) {
    .ag-header-cell,
    .ag-header-group-cell {
      span {
        font-size: 0.75rem;
        line-height: 1rem;
      }
    }
  }

  @media (width >= 1680px) {
    .ag-header-cell,
    .ag-header-group-cell {
      span {
        @apply text-sm;
        line-height: 1rem;
      }
    }
  }

  .ag-header-cell {
    padding-left: calc(var(--x-ag-header-cell-horizontal-padding) - 1px);
    padding-right: calc(var(--x-ag-header-cell-horizontal-padding) - 1px);
  }

  .ag-header-cell,
  .ag-header-group-cell {
    @apply text-mlfs-hlerYellowTint;
  }

  .ag-header-container .ag-sort-indicator-container .ag-icon {
    @apply text-mlfs-hlerYellowTint;
    line-height: 1rem;
  }

  .ag-header-cell.ag-text-left .ag-header-cell-label,
  .ag-header-group-cell.ag-text-left,
  .ag-header-cell.ag-text-left .ag-header-cell-comp-wrapper {
    text-align: left;
  }

  .ag-header-cell.ag-text-center .ag-header-cell-label,
  .ag-header-group-cell.ag-text-center,
  .ag-header-cell.ag-text-center .ag-header-cell-comp-wrapper {
    text-align: center;
    justify-content: center;
  }

  .ag-header-cell.ag-text-right .ag-header-cell-label,
  .ag-header-group-cell.ag-text-right,
  .ag-header-cell.ag-text-right .ag-header-cell-comp-wrapper,
  .ag-header-cell.ag-text-right {
    text-align: right;

    @apply flex w-full justify-end text-right;
  }

  &.with-separators
    .ag-header-row:not(:first-child)
    .ag-header-cell:not(.ag-header-span-height.ag-header-span-total),
  &.with-separators .ag-header-row:not(:first-child) .ag-header-group-cell {
    border-top: var(--ag-borders-critical) var(--ag-border-color);
  }

  .ag-header-row:not(:first-child)
    .ag-header-cell:not(.ag-header-span-height.ag-header-span-total),
  .ag-header-row:not(:first-child)
    .ag-header-group-cell.ag-header-group-cell-with-group {
    @apply border-mlfs-deepTealTint border-b;
  }

  .ag-header-group-cell-with-group {
    /* --ag-header-cell-hover-background-color: hsl(var(--twc-gray-200)); */

    /* @apply bg-gray-200; */
  }

  .ag-pinned-left-header {
    @apply border-none;
  }

  /* Headers on ~ same level */
  div.ag-header-row.ag-header-row-column
    > div.ag-header-span-total
    > div.ag-header-cell-comp-wrapper
    > span {
    margin-top: 2.9em;

    &:has(sup) {
      margin-top: 2.3em;
    }
  }

  .ag-header-cell-resize::after {
    @apply bg-mlfs-deepTealTint;
    top: 0;
    height: 100%;
  }

  .ag-ltr {
    .ag-header-cell,
    .ag-header-group-cell {
      /* border-right: var(--ag-cell-horizontal-border); */
      @apply border-r-transparent;
    }
  }
}

.bp-edit-table.ag-table {
  div.ag-header-row.ag-header-row-column
    > div.ag-header-span-total
    > div.ag-header-cell-comp-wrapper
    > span {
    @apply mt-0;
  }
}
