.ag-table .ag-row-hover:not(.ag-full-width-row)::before,
.ag-table .ag-row-hover.ag-full-width-row.ag-row-group::before {
  @apply z-10;
}

.ag-table .ag-row-group,
.ag-table .ag-row-control {
  @apply bg-white;
}

.ag-table .ag-row-hashed {
    @apply pattern-diagonal-lines pattern-bg-transparent pattern-slate-300
    pattern-opacity-80 pattern-size-1;
}

.ag-table .ag-row-sub-total {
  @apply bg-gray-100 theme-dark:bg-gray-900/40;
}

.ag-table .ag-row-total {
  @apply bg-yellow-50 theme-dark:bg-gray-900/40;
}

.ag-table .ag-row-group::after,
.ag-table .ag-row-total::after {
  content: '';
  width: 100%;
  height: var(--ag-row-group-border-width);
  position: absolute;
  top: 0;
  left: 0;
}

.ag-table .ag-row-group::after {
  border-top: var(--ag-row-group-border-width) var(--ag-row-border-style)
    var(--ag-row-group-border-color);
}

.ag-table .ag-row-total::after {
  border-top: var(--ag-row-total-border-width) var(--ag-row-border-style)
    var(--ag-row-total-border-color);
}

.ag-table .ag-row.ag-row-error::after {
  @apply z-10 bg-error/20;

  content: '';
  display: block;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
