#next-app [class*='ag-theme-'] {
  --ag-background-color: transparent;
  --ag-header-background-color: transparent;
  --ag-tooltip-background-color: theme(colors.mui-box-background);
  --ag-odd-row-background-color: transparent;
  --ag-control-panel-background-color: theme(colors.mui-box-background);
  --ag-modal-overlay-background-color: theme(
    colors.action-disabledBackground / 0.01
  );
  --ag-value-change-value-highlight-background-color: theme(colors.primary);
  --ag-value-change-value-highlight-color: theme(colors.primary-contrastText);

  /* disable all borders */
  --ag-borders: 0 solid;
  --ag-borders-critical: 1px solid;
  --ag-border-color: theme(colors.mui-box-border);
  --ag-secondary-border-color: theme(colors.mui-box-border / 0.8);

  /* row borders */
  --ag-row-border-style: solid;
  --ag-row-border-width: 1px;
  --ag-row-border-color: var(--ag-secondary-border-color);

  /* resize habdle */
  --ag-header-column-resize-handle-color: var(--ag-border-color);
}

#next-app [class*='ag-theme-'].with-separators {
  --ag-header-column-resize-handle-color: transparent;
  --ag-cell-horizontal-border: 1px solid var(--ag-secondary-border-color);
}

#next-app [class*='ag-theme-']:not(.with-separators) {
  --ag-cell-horizontal-border: none;
}
