@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './preflight';
@import './typography';
@import './components/mui/MuiBox';
@import './components/image';
@import './components/widget';

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

* {
  @apply box-border duration-300;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color;
}

:root {
  @apply h-full;
}

body {
  @apply bg-gray-50 dark:bg-gray-900;
  @apply m-0 h-full overflow-hidden;
}

#next-app {
  @apply grid h-full grid-rows-[auto_1fr];
}

main {
  @apply grid overflow-hidden;
}
