@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './preflight';
@import './typography';

@import './components/mui/MuiBox';

@import './components/image';
@import './components/widget';

* {
  box-sizing: border-box;
  @apply duration-300;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  @apply h-full;
}

body {
  @apply bg-gray-50 dark:bg-gray-900;
  @apply m-0 h-full overflow-hidden;
}

#__next {
  @apply grid h-full grid-rows-[auto_1fr];
}

main {
  @apply grid overflow-hidden;
}

/* .MuiMenu-paper {
  @apply shadow;
} */
