@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './components/image';
@import './components/widget';

* {
  box-sizing: border-box;
}

:root {
  --background-color: 249 250 251;
  @apply h-full;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 17 24 39;
  }
}

body {
  @apply m-0 flex h-full flex-col bg-gray-50 dark:bg-gray-900;
}

main {
  flex: 1;
}

a {
  @apply text-primary;
}

.MuiMenu-paper {
  @apply shadow;
}
