name: "CI-prod"

on:
  workflow_dispatch:

jobs:
  docker-build:
    uses: ./.github/workflows/docker-build.yml
    vars:
      SENTRY_DSN: ${{ vars.PROD_SENTRY_DSN }}
      SENTRY_ENVIRONMENT: ${{ vars.PROD_SENTRY_ENVIRONMENT }}
  deploy-prod:
    needs: docker-build
    uses: ./.github/workflows/deploy-prod.yml