name: "CI-staging"

on:
  push:
    branches:
      - "staging"

  workflow_call:

jobs:
  docker-build:
    uses: ./.github/workflows/docker-build.yml
    vars:
      SENTRY_DSN: ${{ vars.STAGING_SENTRY_DSN }}
      SENTRY_ENVIRONMENT: ${{ vars.STAGING_SENTRY_ENVIRONMENT }}
  deploy-staging:
    needs: docker-build
    uses: ./.github/workflows/deploy-staging.yml
    secrets:
      STAGING_SSH_USER: ${{ secrets.STAGING_SSH_USER }}
      STAGING_SSH_HOST: ${{ secrets.STAGING_SSH_HOST }}
      STAGING_SSH_KEY: ${{ secrets.STAGING_SSH_KEY }}
